.page-container {
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  text-align: left;
}

.doc-view-container {
  display: flex;
  justify-content: center;
  background-color: #eee;
  padding-top: 3rem;
}

.doc-view-frame {

}